.NavbarHead {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid grey;
  color: #0353A4;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  height: 100vh;
  border-right: 1px solid grey;
  flex-shrink: 0px;
}

.SidebarNavLink {

  display: flex;
  color: #5A381E;
  text-decoration: none;
  gap: 2px;
  width: 130px;

}

.SidebarNavLinkActive,
.SidebarNavLink:hover {
  display: flex;
  color: black;
  text-decoration: none;
  gap: 2px;
  width: 130px;
  padding: 5px;
  border-radius: black;
  background-color: #0353A4;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px
}


body {
  background-color: whitesmoke;
  margin: 10px;
}